<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
<ul>
    <li>The popular languages that Data Scientists use</li>
     <li>Commonly used libraries used by Data Scientists</li>
     <li>DataScience Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>JavaScript</li>
    <li>Java</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Numpy</li>
<li>Pandas</li>
<li>Matplotlib</li>
</ol>


<table>
    <tr>
    <th>DataScience Tools</th>
    </tr>
<tr>
     <td>Jupyter Notebook</td> 
     <td>RStudio</td>
     <td>Apache Spark</td>   
     <td>Tableau</td> 
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
h = 200/60
print(h)

3.3333333333333335

<h2>Author: Chandan Kumar Mistry<h2>