<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**
<ul>
    <li>The popular languages that Data Scientists use</li>
     <li>Commonly used libraries used by Data Scientists</li>
     <li>DataScience Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:
1.Python
2.JavaScript
3.Java
4.R

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Pandas
3.Matplotlib

DataScience Tools:
1.Jupyter Notebook 
2.RStudio 
3.Apache Spark
4.Tableau

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
h = 200/60
print(h)

3.3333333333333335

<h2>Author: Chandan Kumar Mistry<h2>